HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
/microservices/docker-compose/default/opentelemetry-javaagent.jar
/microservices/helm/umbrella/charts/accounts-1.0.0.tgz
/microservices/helm/umbrella/charts/accountsdb-1.0.0.tgz
/microservices/helm/umbrella/charts/cards-1.0.0.tgz
/microservices/helm/umbrella/charts/cardsdb-1.0.0.tgz
/microservices/helm/databases/accountsdb/Chart.lock
/microservices/helm/databases/cardsdb/Chart.lock
/microservices/helm/databases/loansdb/Chart.lock
/microservices/helm/infrastructure/kafka/Chart.lock
/microservices/helm/infrastructure/keycloak/Chart.lock
/microservices/helm/infrastructure/postgres/Chart.lock
/microservices/helm/infrastructure/rabbitmq/Chart.lock
/microservices/helm/infrastructure/redis/Chart.lock
/microservices/helm/microservices/accounts/Chart.lock
/microservices/helm/microservices/cards/Chart.lock
/microservices/helm/microservices/loans/Chart.lock
/microservices/helm/microservices/message/Chart.lock
/microservices/helm/platform/configserver/Chart.lock
/microservices/helm/platform/eurekaserver/Chart.lock
/microservices/helm/platform/gatewayserver/Chart.lock
/microservices/helm/databases/accountsdb/charts/common-1.0.0.tgz
/microservices/helm/databases/cardsdb/charts/common-1.0.0.tgz
/microservices/helm/databases/loansdb/charts/common-1.0.0.tgz
/microservices/helm/infrastructure/kafka/charts/common-1.0.0.tgz
/microservices/helm/infrastructure/keycloak/charts/common-1.0.0.tgz
/microservices/helm/infrastructure/postgres/charts/common-1.0.0.tgz
/microservices/helm/infrastructure/rabbitmq/charts/common-1.0.0.tgz
/microservices/helm/infrastructure/redis/charts/common-1.0.0.tgz
/microservices/helm/microservices/accounts/charts/common-1.0.0.tgz
/microservices/helm/microservices/cards/charts/common-1.0.0.tgz
/microservices/helm/microservices/loans/charts/common-1.0.0.tgz
/microservices/helm/microservices/message/charts/common-1.0.0.tgz
/microservices/helm/platform/configserver/charts/common-1.0.0.tgz
/microservices/helm/platform/eurekaserver/charts/common-1.0.0.tgz
/microservices/helm/platform/gatewayserver/charts/common-1.0.0.tgz
/microservices/helm/umbrella/charts/configserver-1.0.0.tgz
/microservices/helm/umbrella/charts/eurekaserver-1.0.0.tgz
/microservices/helm/umbrella/charts/gatewayserver-1.0.0.tgz
/microservices/helm/umbrella/charts/kafka-1.0.0.tgz
/microservices/helm/umbrella/charts/keycloak-1.0.0.tgz
/microservices/helm/umbrella/charts/loans-1.0.0.tgz
/microservices/helm/umbrella/charts/loansdb-1.0.0.tgz
/microservices/helm/umbrella/charts/message-1.0.0.tgz
/microservices/helm/umbrella/charts/rabbitmq-1.0.0.tgz
/microservices/helm/umbrella/charts/redis-1.0.0.tgz
/microservices/helm/umbrella/charts/secrets-1.0.0.tgz
*.tgz
Chart.lock
*.lock