server:
  port: ${PORT_LOANS:40003}

spring:
  application:
    name: 'loans'
  config:
    # Docker uses the service name 'configserver' instead of localhost
    import: 'optional:configserver:http://configserver:8801'
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:localhost}
    port: 5672
    username: ${SPRING_RABBITMQ_USERNAME:guest}
    password: ${SPRING_RABBITMQ_PASSWORD:guest}
  datasource:
    # Use the variable we set in docker-compose.yml
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3309/loansdb}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    defer-datasource-initialization: true
    properties:
      hibernate:
        # Prevents the metadata extractor from crashing on MySQL
        temp:
          use_jdbc_metadata_defaults: false
        id:
          db_structure_naming_strategy: legacy
        dialect: org.hibernate.dialect.MySQLDialect

  sql:
    init:
      mode: always

management:
  endpoints:
    web:
      exposure:
        include: "refresh,bus-refresh,health,info"